// MENU HEADER
.menu-header{
    display: flex;
    flex-direction: column;
    &__img img{ 
        width: 100%;
        height: 240px;
        object-fit: cover;
    }
    &__title{
        background-color: $color-bg1;
        border-radius: 40px 40px 0 0;
        padding: 10px 20px;
        margin-top: -40px;
    }
}


// MENU CATEGORY

.menu-category{
    background-color: $color_bg1;
    padding: 12px;
}

.menu-item{
    margin-top: 12px;
    padding: 10px;
    background-color: grey;
    border-radius: 15px;
    box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.1);
    position: relative;

    &__title{
        border: 2px solid blue;      
        }
    &__detail {
        border: 2px solid green;
        display: flex;
        justify-content: space-between;
        font-weight: 600;    
    }
    &:hover{
        width: 60px;
    }
}

.item-title{
    background: orange;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.description{
    background: pink;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.price{
    background: yellow;
}

.check-box{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0px;
    background-color: $color_tertiary;
    border-radius: 0 15px 15px 0;
    @include center;
    &__icone{
        display: none;
        color: white;
        font-size: 20px;
    }
}