/////////// GRADIENT BUTTON ///////////

.btn {
  background: linear-gradient(170deg, $color_secondary 0%, $color_primary 100%);
  color: white;
  border: none;
  padding: 16px 20px;
  border-radius: 25px;
  font-weight: 400;
  @include shadow ($strong_opacity);
  margin: 25px;
  cursor: pointer;
  &:hover {
    background: linear-gradient(
      170deg,
      lighten($color_secondary, $lighten-color) 0%,
      lighten($color_primary, $lighten-color) 100%
    );
    @include shadow ($strong2_opacity);
  }
}
