/////////// GRADIENT BUTTON ///////////

.btn{
    background:linear-gradient(170deg, $color_secondary 0%, $color_primary 100%);
    color: white;
    border: none;
    padding: 16px 20px;
    border-radius: 25px;
    font-weight: 400;
    box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.2);
    margin: 25px;
    cursor: pointer;
}

/////////// LIKE BUTTON ///////////

// ANIMATIONS

@keyframes heart-fill {
    100% {
        transform: translateX(-50%) translateY(-50%) scaleY(0);
    }
}

@keyframes stroke-disappear {
    100% {
        opacity: 0;
    }
}

@keyframes heart-scale {
    50% {
        transform: translateX(-50%) translateY(-50%) scale(1.2);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) scale(1.07);
    } 
}

// STYLE

.like-btn{
    position: relative;
    border: 2px solid red;
    cursor: pointer;
    &__item{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    &__full{
        background:-webkit-linear-gradient(45deg, #FF79DA 0%, #9356DC 100%);
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
        z-index: 0;
    }
    &__hide{
        transform-origin: top;
        height: 25px;
        width: 25px;
        z-index: 1;
    }
    &__stroke{
        color: transparent;
        -webkit-text-stroke: 2px;
        -webkit-text-stroke-color: black;
        z-index: 2;
    }
    &:hover{
        & .like-btn__hide{
            animation: heart-fill 1300ms ease-out forwards;
        }
        & .like-btn__stroke{
            animation: stroke-disappear 700ms 700ms ease-in-out forwards;
        }
        & .like-btn__full{
            animation: heart-scale 500ms 1000ms ease-in-out forwards;
        }
    }
}

  
  
  

  
  

  
  

