/////////// GRADIENT BUTTON ///////////

.btn {
  background: linear-gradient(170deg, $color_secondary 0%, $color_primary 100%);
  color: white;
  border: none;
  padding: 16px 20px;
  border-radius: 25px;
  font-weight: 400;
  box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.2);
  margin: 25px;
  cursor: pointer;
}
