// GENERAL

a {
  color: black;
  text-decoration: none;
}

p {
  margin-top: 4px;
  margin-bottom: 4px;
}

body{
  min-width: 320px;
  max-width: 1680px;
  margin: auto;
}

html{
  background-color: darken($color_bg2, 5%);
}

body {
  display: flex;
  flex-direction: column;
  background-color: $color-bg1;
}

// STICKY FOOTER

html,
body {
  height: 100%;
}



footer {
  margin-top: auto;
}
