*{
    font-family: $font_body;
    font-size: 16px;
    font-weight: 300;
}

.big-title {
    font-size: 24px;
    font-weight: 600;
    padding-top: 40px;
    padding-bottom: 10px;
}

.menu-title {
    font-family: $font_heading;
    font-size: 28px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.uppercase-title{
    text-transform: uppercase;
    font-size: 16px;
}

h3{
    font-size: 18px;
    font-weight: 600;
}

p{
    font-size: 15px;
}

p, li {
    margin-top: 4px;
    margin-bottom: 4px;
}