// CENTER ELEMENTS
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin shadow ($opacity){
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, $opacity);
}

@mixin from-tablet-size {
  @media screen and (min-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin desktop-only {
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}
