// FOOTER

.page-footer {
  background-color: $color-dark;
  padding: 25px 5% 25px 5%;
  img {
    width: 100px;
    padding-bottom: 20px;
    @include from-tablet-size{
      display: block;
      margin: auto;
      padding-bottom: 40px;
    }
  }
  ul{
    @include from-tablet-size{
      display: flex;
      justify-content: space-around;
    }
  }
  li {
    padding-bottom: 8px;
  }
  a {
    color: white;
    font-weight: 400;
  }
  i {
    font-size: 12px;
    margin-right: 10px;
  }
}
